<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <h1>Filtered Computers</h1>
    <table>
        <thead>
            <tr>
                <th>Label</th>
                <th>Date of Purchase</th>
                <th>Lab</th>
                <th>CPU</th>
                <th>Motherboard</th>
                <th>Status</th>
                <th>Invoice No</th>
                <th>OS Type</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers_list %}
                <tr>
                    <td>{{ computer.c_label }}</td>
                    <td>{{ computer.dop }}</td>
                    <td>{{ computer.lab.lab_name }}</td>
                    <td>{{ computer.cpu.make }} {{ computer.cpu.series }}-{{ computer.cpu.generation }}</td>
                    <td>{{ computer.mb.mb_socket_type }}, {{ computer.mb.max_ram_capacity }}GB, {{ computer.mb.make }}</td>
                    <td>{{ computer.status }}</td>
                    <td>{{ computer.invoice_no }}</td>
                    <td>{{ computer.os_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
