{% extends 'computer/base.html' %}

{% block title %}
    Computer Details Report
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>C_Label</th>
                <th>complaint</th>
                <th>Date of complaint</th>
            </tr>
        </thead>
        <tbody>
            {% for i in result %}
                <tr>
                    <td>{{ i.computer.c_label}}</td>
                    <td>{{i.complaint_details}}</td>
                    <td>{{i.complaint_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
